h1,h2,h3,h4,h5,h6 {
  margin:0;
  font-family: 'suranna';
  color:white;
}
a {
  text-decoration: none;
  color:white;
  font-family: 'lato';
}
.post__container{
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center center;
  background-color:rgba(0,0,0,.2);
  background-blend-mode:multiply;
  transition:all .75s ease;
    &:hover{
      background-color: rgba(0,0,0,.4);
  }
}

.post__info{
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 90%;
}
.post__title {
  font-size: 2.5rem;
  text-align: center;
  span {
    font-size: 35%;
    font-family: 'lato';
    padding-bottom:10px;
    text-transform: uppercase;
    display:block;
    font-weight: 300;
  }
}
.post__container--one{
  background-image: url('http://codepen.vincebrown.me/images/monkey.jpg');
}
.post__container--two {
  background-image:url('http://codepen.vincebrown.me/images/goat.jpg');
}
.post__container--three {
  background-image:url('http://codepen.vincebrown.me/images/lemon-mouth.jpg');
}
.post__container--four {
  background-image:url('http://codepen.vincebrown.me/images/cat-yawn.jpg');
}

.post__button {
  position: relative;
  display:inline-block;
  text-transform: uppercase;
  border:1px solid white;
  font-weight: 300;
  padding:.75em 1em;
  left:50%;
  transform: translateX(-50%);
  font-size: .85em;
  text-align: center;
  transition: all .5s ease;
  margin-top:20px;
  &:hover {
    background-color: #000;
    color:white;
    border-color:black;
  }
}
.nav__button {
  position: absolute;
  z-index:400;
  right:2.5%;
  top:2.5%;
  width: 2.25em;
  cursor:pointer;
  svg {
    fill:white;
  } 
}
.nav{
  display:block;
  overflow:hidden; 
  transition: all .4s ease;
  position: absolute;
  width: 100%;
  z-index:200;
  background-color: rgba(0,0,0,.8);
  height: 0;
  ul{
    list-style-type: none;
    position: relative;
  top: 50%;
  transform: translateY(-50%);
  }
}

.nav__items {
  display:block;
  transition:all .6s ease;
  margin:0 auto;
  width: 100%;
  color:white;
  text-align: center;
  font-size: 2.2em;
  padding-bottom:1em; 
  position: relative;
  left:-20px;
  top:35px;
  opacity:0; 
  a {
    text-decoration: none;
    color:white;
    font-family: 'suranna';
        &:after {
        display:block;
        content: '';
        padding-bottom:5px;
        border-bottom: solid 1px #F4EFE7;  
        transform: scaleX(0.0001);  
        transition: transform 350ms ease-in-out;
      }
      &:hover:after {
        transform: scaleX(.1);
      }
  }
}

.is-expanded {
  display:block;
  height:100vh;
}
.is-fading-up {
  top:0; 
  
  opacity:1;
  // Stagger the fade in of each elem.
  @for $i from 1 through 4 {
      &:nth-child(#{$i}) { 
       transition-delay:(0.2s * $i)
      }
    }
}
